<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costmary Recommender</title>
</head>
<body>
    <h1>Hello User</h1>
    <p>Welcome to costmary-function movie recommender</p>
    <p>Please rate the following movie on a scale 0.0-5-0</p>
    <form action="/recommendations">
        Terminator: <input type="text" name="Terminator" placeholder="0.0-0.5"><br>
        ARQ: <input type="text" name="ARQ" placeholder="0.0-0.5"><br>
        <input type="submit" value="Submit">
    </form>

     <p>Click <a href='/recommendations'>here</a> to get the recommendations</p>
</body>
</html>